<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0C-GJlDd8iNrJr7IYUQIE57bYRDEYyg0</string>
	<key>GCM_SENDER_ID</key>
	<string>14126510268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quotealineHoly.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quotealine-67587</string>
	<key>STORAGE_BUCKET</key>
	<string>quotealine-67587.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14126510268:ios:0f32cb3c25c0ae7ee4e0b9</string>
</dict>
</plist>